/* 
    =====================================================
     ==================== Defaults =====================
    =====================================================
*/
html {
    scroll-behavior: smooth;
}
*:focus {
    outline: 0 !important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    width: 100%;
}
footer {
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px rgb(207, 207, 207) solid;
}
.row {
    padding: 15px;
}

.border-light-1 {
    border: 1px lightgray solid;
}
.border-light-dark-2 {
    border: 1px rgb(24, 24, 24) solid;
}
section:nth-child(even) {
    background: rgb(245, 245, 245);
}




/* 
    =====================================================
     =================== Alignments ====================
    =====================================================
*/
.text-center {
    text-align: center;
}




/* 
    =====================================================
     ==================== Cards ======================
    =====================================================
*/
.card {
    border-radius: 2px;
}
.card-content {
    width: 100%;
    height: 235px;
}
.card-content .card-img {
    height: 100%;
}
.card-content .card-hover {
    height: 100%;
    transition: all 0.9s ease-in-out;
}
.card-content .card-hover:hover {
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    height: 100%;
}
.card-content .card-hover .card-info {
    padding-top: 3.5rem;
}
.card-content .card-buttons {
    margin-top: 1.3rem;
    text-align: center;
}
.card-content .card-buttons a {
    text-decoration: none;
    border: 1px lightgray solid;
    padding: 5px;
    border-radius: 4px;
}
.card-content .card-buttons a:hover {
    background: rgba(211, 211, 211, 0.1);
}
.card-info {
    transition: all 4s ease-in;
    transition: all 0.9s ease-out;
    opacity: 0;
}
.card:hover .card-info {
    opacity: 1;
}



/* 
    =====================================================
     ==================== Spacing ======================
    =====================================================
*/
.visibility-hidden-1 {
    width: 100%;
    margin: 1rem 0 1rem 0;
}
.visibility-hidden-2 {
    width: 100%;
    margin: 2rem 0 2rem 0;
}
.visibility-hidden-3 {
    width: 100%;
    margin: 3rem 0 2rem 0;
}
.hr {
    border: 1px lightgray solid;
    width: 100%;
    margin: 2px 0 2px 0;
}


/* 
    =====================================================
     ==================== Effects ======================
    =====================================================
*/
.styled-center-1 {
    border: 1px #fff solid;
    border-left: 0;
    border-right: 0;
    border-top-width: 10px;
    border-bottom-width: 10px;
    width: 255px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* Styled Center */
.styled-center-2 {
    position: relative;
    border-right: 0;
    color: rgb(68, 68, 68);
    padding-left: 5px;
    padding-right: 2px;
    z-index: 2;
}
.styled-center-2::before {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    content: "";
    border: 1px rgb(24, 24, 24) solid;
    border-right: 0;
    padding-left: 2px;
    padding-right: 5px;    
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.styled-center-2::after {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    content: "";
    background: rgb(24, 24, 24);
    border: 1px rgb(24, 24, 24) solid;
    padding-left: 2px;
    padding-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Transitions */
.tranx-3 {
    transition: all .3s ease-in-out;
}

/* Scroll Effects */
.textScrollStyle a, .toggle-button i, .brandScrollStyle h1, .navLinkScrollStyle li a, .sideSocialsStyle a {
    color: rgb(68, 68, 68) !important;
}

.box-shadow-1 {    
    -webkit-box-shadow: 0px 2px 12px -5px #000000; 
    box-shadow: 0px 2px 12px -5px #000000;
}

.txt-fx-1 {
    background-image: linear-gradient(to left, #000, #000, #000, #fff, #fff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Tint */
.tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.img-overlay-rounded {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    border-radius: 1%;
}


/* 
    =====================================================
     =================== Default Size ==================
    =====================================================
*/
.nav-items li a, .toggle-menu button{
    font-size: 1.2rem !important;    
}
.brand > h1 > span {
    font-size: 1.6rem !important;    
}
/* Image */
.img-full-width {
    width: 100%;
}


/* 
    =====================================================
     ==================== Font Color ===================
    =====================================================
*/
.font-color-dark-1 {
    color: rgb(24, 24, 24) !important;
}
.font-color-dark-2 {
    color: rgb(68, 68, 68) !important;
}
.font-color-light-1 {
    color: #fff;
}


/* Transitions */

/* Content Header */
.content-header {
    text-align: center;    
    font-size: 1.2rem;
}

/* Items Centered */
.items-centered {
    margin: 0 auto;
    width: 100%;
}



/* 
    =====================================================
     ================  Responsive Grid =================
    =====================================================
*/
.grid-4 {   
display: grid;
grid-template-columns: 2fr 2fr 2fr 2fr;
}
.grid-2 {   
display: grid;
grid-template-columns: 2fr 2fr;
}
.grid-4 .card {
    margin: 3%;
}

@media screen and (max-width: 992px) {
    .grid-4 {         
        grid-template-columns: 2fr 2fr 2fr;
        }   
}

@media screen and (max-width: 768px) {
    .grid-4 {         
        grid-template-columns: 2fr 2fr;
        }
  }
  
@media screen and (max-width: 576px) {
    .grid-4 {         
        grid-template-columns: 2fr;
        }
    .grid-2 {   
        grid-template-columns: 2fr;
    }
  }


  

/* 
    =====================================================
     ================= Header Section ==================
    =====================================================
*/
header nav {
    position: fixed;
    display: flex;
    padding: 0 25px 0 25px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    z-index: 9999;
}
header nav .brand {
    left: 2.5rem;
}
nav ul li a:hover {
    color: rgb(202, 202, 202);
}
.nav-items li {
    display: flex; 
    list-style: none;
    display: inline-block;
    padding: 8px;
}
.nav-items li a {
    text-decoration: none;
}
.scrolled {
    background:rgb(253, 253, 253) !important;
    -webkit-box-shadow: 0px 2px 12px -5px #000000; 
    box-shadow: 0px 2px 12px -5px #000000;
}
.socials {
    display: flex;
    width: 115px;
    flex: 1;
    justify-content: space-between;
    margin: 0 auto;
}
.socials a{
    padding: 0.4em;
}
.socials a i {
    font-size: 1.4rem;
}
.socials a:hover {
    color: rgb(202, 202, 202);
}


/* 
    =====================================================
     ================== Toggle  Menu ===================
    =====================================================
*/    
.toggle-menu  {
    display: none;
}
.toggle-menu button {
    border: none;
    background: none;
    cursor: pointer;
}
.side-menu {
    position: fixed;
    top: 4.1rem;
    right: -24rem;
}
.side-menu-content {
    position: absolute;
    background: rgb(17, 17, 17);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    height: 355px;
    min-width: 160px;
    -webkit-box-shadow: 0px 2px 12px -5px #000000; 
    box-shadow: 0px 2px 12px -5px #000000;
    padding: 10px;
  }
.side-menu-content .side-menu-items li {
    list-style: none;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8rem;
}
.side-menu-content .side-menu-items li a {
    text-decoration: none;
}
.side-menu-content .side-menu-items li a:hover {
    color: rgb(56, 56, 56) !important
}
.side-menu-content .side-menu-items {
    margin-top: 25px;
}
.profile-image-small {
    overflow: hidden;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 2rem auto;
}
.side-socials {
    margin: -1.1rem auto;
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 50%;
}
.hireme {
    margin: 2.1rem auto;
    text-align: center;
}
.hireme button:hover {
    background: rgba(245, 245, 245,0.04);
    cursor: pointer;
}
.hireme button {
    text-decoration: none;
    color: whitesmoke;
    border: 1px rgb(245, 245, 245) solid;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: none;
    width: 100%;
    cursor: pointer;
}
.hireMeStyle {
    border: 1px rgba(29, 29, 29, 0.6) solid !important;
    color: rgba(29, 29, 29, 0.8) !important
}
.hireMeStyle:hover {
    background: rgba(29, 29, 29, 0.1) !important;
}
.show {
    right: 10rem;
    z-index: 999;
}
.sideMenuScrollStyle-1 {
    background:rgb(252, 251, 251);
    color: whitesmoke !important;
}
.sideMenuItemsText li a  {
    color: rgb(24, 24, 24)
}


/* 
    =====================================================
     ================== Main Section ===================
    =====================================================
*/
.hero {
    height: 100vh;
}
.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.profile {
    z-index: 2;
}
.profile h1 {
    text-align: center;
    font-size: 2.8rem !important;
}
.profile h1 span:nth-child(1) {
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0,0,0,0.3);
    border: 1px #ffffff solid;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.profile h1 span:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(68, 68, 68);
    background: #ffffff;
    border: 1px #ffffff solid;
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.profile p {
    margin: 0.3rem auto;
    padding: 0.6rem;
    width: 210px;
}
.profile .profile-image {
    position: relative;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    border: 5px rgba(245, 245, 245,0.06) solid;
}
.profile .profile-image::after {
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
}
.profile .profile-image img {
    margin-top: 1rem;
}


/* About Me */
.about-me .about-me-left, .about-me-right {
    padding: 0.8rem;
}
.about-me .about-me-left {
    padding-top: 2rem;
}
.about-me p {
    margin: 2rem auto;
    width: 45rem;
    padding: .2rem;
    font-size: 1.2rem;
    text-align: justify;
}


/* Form */
.form {
    margin-top: 2rem;
}
form {
    margin: 0 auto;
    width: 450px;
    padding: 2.2rem;
}
.form-input {
    margin-top: 1rem;
}
.form-input label, input, textarea {
    display: block;
}
.form-input label {
    color: rgb(68, 68, 68);
}
input[type=text], input[type=email] {
    border: none;
    border-bottom: 1px rgb(173, 172, 172) solid;
    background: none;
    width: 100%;
    padding: 10px;
}
textarea {
    border: none;
    border-bottom: 1px rgb(173, 172, 172) solid;
    background: none;
    width: 100%;
    height: 95px;
    padding: 10px;
    resize: none;    
}
.form-input button {
    font-size: 1rem;
    padding: .4em;
    width: 5rem;
    border-radius: 5px;
    border: 1px rgb(68, 68, 68) solid;
    color: rgb(68, 68, 68);
    cursor: pointer;
    background: none;
}
.form-input button:hover {
    color: rgb(68, 68, 68);
}
.error {
    display: none;
}
.showError {
    border: 1px rgba(255, 0, 0, 0.733) solid;
    color: red !important;
    display: block;
    border-radius: 3px;
    padding: .2rem;
    background: rgba(255, 0, 0, 0.096);
}


/* Footer */
footer .grid-2 div {
    color: rgb(68, 68, 68);
}

footer .grid-2 div:nth-child(1) small {
    margin: 0 auto;
}
footer .grid-2 div:nth-child(1) small a {
    color: rgb(68, 68, 68);
    text-decoration: none;
}



@media screen and (max-width: 992px) {
    .about-me p {
        width: 90%;
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 768px) {
    .toggle-menu  {
        display: block !important;
    }
    .nav-items {
        display: none;
    }
    .about-me p {
        font-size: 1.1rem;
    }
    .about-me .image-container {
        width: 100%;
        height: 20rem !important;
    }
  }
@media screen and (max-width: 576px) {
    .about-me p {
        width: 100%;
        font-size: 1.1rem;
    }
    .profile h1 {
        font-size: 1.6rem !important;
    }
    .profile p {
        font-size: .9rem !important;
        width: 196px;
    }
    .toggle-menu  {
        display: block !important;
    }
    .nav-items {
        display: none;
    }
    form {
        width: 100%;
    }
  }